<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>

  <div id="app">
    <div class="holder headline">
      Travel App
    </div>
    <div class="holder city">
      <label for="city">My Trip to</label>
      <input type="text" id="city" placeholder="enter city name here">
    </div>
    <div class="holder departingDate">
      <label for="departingDate">Departing date</label>
      <input type="date" id="departingDate" placeholder="MM/DD/YYYY">
      <button id="generate" type="submit"> save trip </button>
    </div>
    <div class="holder info">
      <div class="title">Trip information</div>
      <div id="entryHolder">
        <div id="countdown"></div>
        <div id="weatherData"></div>
        <div id="inputData"></div>
      </div>
    </div>
  </div>

</body>

</html>