<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>

  <div id="app">
    <div class="holder headline">
      <h1>Travel App</h1>
    </div>
    <div class="holder inputFields">
      <div class="holder city">
        <label for="city">My Trip to</label>
        <input type="text" id="city" placeholder="enter city name here">
      </div>
      <div class="holder start-end-date">
        <label class="startDate" for="startDate">Start date</label>
        <input type="date" id="startDate" placeholder="MM/DD/YYYY">
        <label class="endDate" for="endDate">End date</label>
        <input type="date" id="endDate" placeholder="MM/DD/YYYY">
        <button id="generate" type="submit"> save trip </button>
      </div>
    </div>
    <div class="holder info">
      <div class="title">Trip information</div>
      <div id="entryHolder">
        <div id="countdown"></div>
        <div id="lengthOfTrip"></div>
        <div id="weatherData"></div>
        <div id="inputData"></div>
        <div class="images">
          <div id="cityImage"></div>
          <div id="countryImage"></div>
        </div>
        <div id="countryInfo"></div>
      </div>
    </div>
  </div>

</body>

</html>