@media only screen and (min-width: 401px) and (max-width: 760px) {
  .start-end-date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'sstartDate startDate'
      'eendDate endDate'
      '. generate';
  }
  .info {
    min-width: 400px;
  }
}

.images {
  display: flex;
  flex-direction: column;
}