body {
  background: linear-gradient(#067cb3, #06969b, #067cb3);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(1em, auto);
  // grid-template-rows: 20px 1fr 1fr 2fr;
  grid-template-columns: 1fr;
  height: 100%;
  background-image: linear-gradient(#067cb3, #06969b, #067cb3);
  color: #f0d43a;
  justify-items: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.holder {
  height: fit-content;
}

.start-end-date {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

#generate {
  grid-area: generate;
}
.startDate {
  grid-area: sstartDate;
}
#startDate {
  grid-area: startDate;
}
.endDate {
  grid-area: eendDate;
}
#endDate {
  grid-area: endDate;
}

.info {
  background: #3b4a6b66;
  min-width: 400px;
}

#entryHolder {
  color: #ffa600;
}

#countdown {
}

#weatherData {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.headline {
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  // height: 60px;
  // width: 320px;
  background: #22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border: none;
}

button {
  display: block;
  // width: 300px;
  // height: 80px;
  background-image: linear-gradient(#3b4a6b, #0975f0, #3b4a6b);
  color: #f0d43a;
  font-size: 26px;
  font-family: 'Roboto', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  cursor: pointer;
  padding: 10px 20px;
}

button:hover {
  background-image: linear-gradient(#0975f0, #3b4a6b, #0975f0);
}

h1 {
  font-size: 36px;
}

#countryInfo {
  font-weight: bold;
  tr,
  td {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
  }
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: 'Roboto', sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: 'Roboto', sans-serif;
}
