@media only screen and (min-width: 401px) and (max-width: 760px) {
  .start-end-date {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      'sstartDate startDate'
      'eendDate endDate'
      'printTrip generate';
  }
  .info {
    min-width: 300px;
    max-width: 400px;
  }

  .images {
    display: flex;
    flex-direction: column;
  }
  #countryInfo {
    table {
      font-size: 17px;
      width: 100px;
      margin: auto;
    }
  }
} /* Don't buy any styling after this curly bracket */
